[Unit]
Description=Run SentinelOps Metrics every 2 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=2min
Unit=sentinel-metrics.service

[Install]
WantedBy=timers.target
